.button_type_submit {
  width: 100%;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 18px;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .button_type_submit {
    font-size: 14px;
    line-height: 17px;
  }
}
