.popup__form {
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 36px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 480px) {
  .popup__form {
    padding: 25px 22px;
  }
}
